{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock extra_css %}

{% block content %}

{% for block in page.jumbotron %}
	{% include_block block %}
{% endfor %}

<div class="container">
<div class="row mb-5">
{% if page.heading %}
<div class="col-6">
<h4 class="text-center mt-3">{{ page.heading }}</h4>
</div>
{% endif %}

{% if page.exhibition_index %}
<div class="col-6 mt-3">
<a href="{{ page.exhibition_index.url }}">{{ page.exhibition_name }}</a>
</div>
{% endif %}

</div>
</div>

{% for block in page.carousel %}
	{% include_block block %}
{% endfor %}

{% endblock content %}



{% block extra_js %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock extra_js %}
