h1 {
	font-weight: 900;
	font-size: 32px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative;
}

h2 {
	font-weight: 800;
	font-size: 30px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative;
}

h3 {
	font-weight: 700;
	font-size: 28px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative;
}

h4 {
	font-weight: 600;
	font-size: 26px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative;
}

h5 {
	font-weight: 500;
	font-size: 24px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative;
}

h6 {
	font-weight: 400;
	font-size: 22px;
	font-family: 'Times New Roman', Libre Bodoni, Lora, serif;
	position: relative
}

.carousel2 {
  background: #FAFAFA;
}

.carousel-cell2 {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}



